SourceMetaData/src/flows/PAY_Payment_Ticket-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StatusIsCompleted</name>
        <label>IsCompleted</label>
        <locationX>414</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCCCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PAY_Create_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StatusIsOpen</name>
        <label>IsOpen</label>
        <locationX>420</locationX>
        <locationY>97</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCCOpen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PAY_Create_Ticket</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Direct_Debit</name>
        <choiceText>Direct Debit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Debit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refund</name>
        <choiceText>Refund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refund</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Payment</name>
        <choiceText>Single Payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Payment</stringValue>
        </value>
    </choices>
    <constants>
        <name>CCCCompleted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </constants>
    <constants>
        <name>CCCOpen</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </constants>
    <constants>
        <name>Webpayreference</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Webpay</stringValue>
        </value>
    </constants>
    <decisions>
        <name>HasWebpayReferenceBeenSupplied</name>
        <label>HasWebpayReferenceBeenSupplied</label>
        <locationX>839</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>NoWebpay</defaultConnectorLabel>
        <rules>
            <name>WebpayRef</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Web_Pay_Reference</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_External_ID</targetReference>
            </connector>
            <label>WebpayRef</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusDecision</name>
        <label>StatusDecision</label>
        <locationX>206</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>StatusIsCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsCompleted</defaultConnectorLabel>
        <rules>
            <name>IsOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_payment_been_made</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StatusIsOpen</targetReference>
            </connector>
            <label>IsOpen</label>
        </rules>
    </decisions>
    <label>Payment Ticket</label>
    <recordCreates>
        <description>Creates an external ID lookup for Web Pay Reference.</description>
        <name>Create_External_ID</name>
        <label>Create External ID</label>
        <locationX>1078</locationX>
        <locationY>206</locationY>
        <inputAssignments>
            <field>External_ID__c</field>
            <value>
                <elementReference>Web_Pay_Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_System__c</field>
            <value>
                <elementReference>Webpayreference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket__c</field>
            <value>
                <elementReference>TicketID</elementReference>
            </value>
        </inputAssignments>
        <object>External_ID__c</object>
    </recordCreates>
    <recordCreates>
        <name>PAY_Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>635</locationX>
        <locationY>209</locationY>
        <assignRecordIdToReference>TicketID</assignRecordIdToReference>
        <connector>
            <targetReference>HasWebpayReferenceBeenSupplied</targetReference>
        </connector>
        <inputAssignments>
            <field>GLOBAL_Additional_Info__c</field>
            <value>
                <elementReference>Further_information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLOBAL_Goal__c</field>
            <value>
                <elementReference>GoalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLOBAL_Ticket_Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAY_Amount__c</field>
            <value>
                <elementReference>How_much_was_the_payment_for</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAY_Payment_Type__c</field>
            <value>
                <elementReference>Payment_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAY_Payment_successful__c</field>
            <value>
                <elementReference>Has_the_payment_been_made</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CCCPaymentRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket__c</object>
    </recordCreates>
    <screens>
        <name>PAY_Screen1</name>
        <label>PAY_Screen1</label>
        <locationX>43</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>StatusDecision</targetReference>
        </connector>
        <fields>
            <name>PAY_Text1</name>
            <fieldText>Please take a payment from the customer using Webpay. Upon completion, please fill in the details below to record a payment ticket against the goal:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_much_was_the_payment_for</name>
            <dataType>Currency</dataType>
            <fieldText>How much was the payment for?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Payment_type</name>
            <choiceReferences>Single_Payment</choiceReferences>
            <choiceReferences>Direct_Debit</choiceReferences>
            <choiceReferences>Refund</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Has_the_payment_been_made</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the payment been made?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Use Webpay to take the payment, and check this box once done.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_information</name>
            <fieldText>Further information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Enter any additional information about the payment. Do NOT enter in any specific payment information such as credit card details.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Web_Pay_Reference</name>
            <dataType>String</dataType>
            <fieldText>Web Pay Reference</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Please enter Web Pay reference number.</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>PAY_Screen1</startElementReference>
    <variables>
        <name>CCCPaymentRecordTypeId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GoalID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CCCCompleted</elementReference>
        </value>
    </variables>
    <variables>
        <name>TicketID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
