SourceMetaData/src/flows/Service-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>email_case_no</name>
        <label>email_case_no</label>
        <locationX>106</locationX>
        <locationY>1303</locationY>
        <apexClass>SendEmail</apexClass>
        <connector>
            <targetReference>Plugin_Q</targetReference>
        </connector>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>email_temp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>Email_input_S</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Call Details : {!Case_no}</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Plugin_Q</name>
        <label>Plugin_Q</label>
        <locationX>106</locationX>
        <locationY>1397</locationY>
        <apexClass>AssigningToQueue</apexClass>
        <connector>
            <targetReference>ouput_text_s</targetReference>
        </connector>
        <inputParameters>
            <name>Queue</name>
            <value>
                <elementReference>Queue_v</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordID</name>
            <value>
                <elementReference>Case_id_V</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Finance_as</name>
        <label>Finance_as</label>
        <locationX>174</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>Case_type_var1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agresso Actions</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queries and Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var1_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agresso Actions</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var2_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var3_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queries and Training</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_info_input_S_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finance_as_0</name>
        <label>ICT_as</label>
        <locationX>16</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>Case_type_var1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enquiry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var1_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something is not working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var2_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>How do I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_type_var3_A</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I need something new</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_info_input_S_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_as</name>
        <label>Queue_as</label>
        <locationX>256</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>Queue_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00Gb00000012ry8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_as_0</name>
        <label>Queue_as</label>
        <locationX>24</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>Queue_v</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00Gb00000012ry7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Finance</name>
        <choiceText>Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>ICT</name>
        <choiceText>ICT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ICT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>option1</name>
        <choiceText>{!Case_type_var1_A}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Case_type_var1</elementReference>
        </value>
    </choices>
    <choices>
        <name>option2</name>
        <choiceText>{!Case_type_var2_A}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Case_type_var2</elementReference>
        </value>
    </choices>
    <choices>
        <name>option3</name>
        <choiceText>{!Case_type_var3_A}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Case_type_var3</elementReference>
        </value>
    </choices>
    <choices>
        <name>tttt</name>
        <choiceText>tt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>tt</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Finance_or_ICT</name>
        <label>Finance_or_ICT</label>
        <locationX>74</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>Finance_as_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ICT</defaultConnectorLabel>
        <rules>
            <name>Finance_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Area_s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_as</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_exist</name>
        <label>Is_contact_exist</label>
        <locationX>65</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>contact_dose_not_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordID_v</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_info_input_S</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_dec</name>
        <label>Queue_dec</label>
        <locationX>93</locationX>
        <locationY>883</locationY>
        <defaultConnector>
            <targetReference>Queue_as_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finance_yes</defaultConnectorLabel>
        <rules>
            <name>ICT_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Area_s</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ICT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_as</targetReference>
            </connector>
            <label>ICT_yes</label>
        </rules>
    </decisions>
    <label>Service26_c</label>
    <recordCreates>
        <name>case</name>
        <label>case</label>
        <locationX>107</locationX>
        <locationY>1060</locationY>
        <assignRecordIdToReference>Case_id_V</assignRecordIdToReference>
        <connector>
            <targetReference>find_Case_no</targetReference>
        </connector>
        <inputAssignments>
            <field>CSC_Case_Type__c</field>
            <value>
                <elementReference>Case_Type_S</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>RecordID_v</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Free_Text__c</field>
            <value>
                <elementReference>summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Contact_Method__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012b0000000LLMP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Area__c</field>
            <value>
                <elementReference>Service_Area_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>find_Case_no</name>
        <label>find_Case_no</label>
        <locationX>107</locationX>
        <locationY>1164</locationY>
        <connector>
            <targetReference>email_case_no</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_id_V</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Case_no</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_contacts</name>
        <label>Lookup_contacts</label>
        <locationX>68</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>Is_contact_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault</targetReference>
        </faultConnector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_input_S</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>RecordID_v</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Case_info_input_S</name>
        <label>Case_info_input_S</label>
        <locationX>67</locationX>
        <locationY>427</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Finance_or_ICT</targetReference>
        </connector>
        <fields>
            <name>Service_Area_s</name>
            <choiceReferences>Finance</choiceReferences>
            <choiceReferences>ICT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Area</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Case_info_input_S_0</name>
        <label>Case_info_input_S</label>
        <locationX>98</locationX>
        <locationY>756</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Queue_dec</targetReference>
        </connector>
        <fields>
            <name>space1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Type_S</name>
            <choiceReferences>option1</choiceReferences>
            <choiceReferences>option2</choiceReferences>
            <choiceReferences>option3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Space2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>summary</name>
            <dataType>String</dataType>
            <fieldText>Summary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>contact_dose_not_exist</name>
        <label>contact_dose_not_exist</label>
        <locationX>231</locationX>
        <locationY>315</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>contact_dose_not_exist_static_text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Unfortunately we are unable to find an account for {!Email_input_S} . If this email address is correct please contact the Customer Experience Team by clicking &lt;A HREF=&quot;mailto:contact.ict@hounslow.gov.uk&quot; TARGET=&quot;_blank&quot;&gt;here&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>email_s</name>
        <label>email_s</label>
        <locationX>72</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Lookup_contacts</targetReference>
        </connector>
        <fields>
            <name>email_txt</name>
            <fieldText>To log a request please enter your email address:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_input_S</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>fault</name>
        <label>fault</label>
        <locationX>252</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>falut</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ouput_text_s</name>
        <label>ouput_text_s</label>
        <locationX>105</locationX>
        <locationY>1501</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>output_text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you for contacting the Corporate Service Centre. Your request has been logged and the reference number is:&lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;{!Case_no}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>email_s</startElementReference>
    <textTemplates>
        <name>email_temp</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Thank you for logging this call with The Customer Experience Team, your reference number is: &lt;FONT KERNING=&quot;1&quot;&gt; &lt;FONT COLOR=&quot;#FF0000&quot;&gt;&lt;B&gt;{!Case_no}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your call is in our queue to be assessed. We aim to resolve calls ourselves, however should we be unable to resolve your incident, we will assign &lt;FONT COLOR=&quot;#FF0000&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Case_no}&lt;/B&gt;&lt;/FONT&gt; to one of our technical teams. &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>Account_ID_V</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_id_V</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_no</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_type_var1</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_type_var1_A</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_type_var2</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_type_var2_A</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_type_var3</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case_type_var3_A</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue_v</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordID_v</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
